{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class='container'>
        <div class="row">
        </div>
        <div class='col-md-12'>
            <h1>Bookings</h1>
            <h4>Please complete the form below and we will come back to you as quickly as possible.</h4>
            <div class='col-md-3'>
            </div>
            <!-- Form Data-->
            <div class='col-md-6'>
                <form role="form" method="post" action="{% url 'bookus' %}">
                    <legend>Booking Enquiry Form</legend>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-lg">Submit Enquiry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End of form Data-->
{% endblock %}