{% extends 'base.html' %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 align="center">Packages</h1>
                    <h4 align="center">We have packages to suit all tastes, styles, venues and budgets. Whether you are catering for a birthday party of 50 guests or a big wedding for a few hundred, The Candyland Cart Company can handle it!</h4>
                    <div class="text-center">
                    <a href="/bookus" class="btn btn-default btn-lg">Bookings</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 align="center">Happy Birthday!</h1>
                    <img src="static/candyland/images/cart002-min.jpg" class="img-responsive" alt="Responsive image">
                    <p align="justify">
                    <br>Whatever age you are, you're NEVER to old for a Victorian style Candy Cart. With an impressive array of sweets to choose from the hardest decision you are likely to make is what NOT to pick from our list.
                    </p>
                </div>
                <div class="col-md-4">
                    <h1 align="center">Weddings</h1>
                    <img src="static/candyland/images/wedding002-min.jpg" class="img-responsive" alt="Responsive image">
                    <p align="justify">
                    <br>Weddings is where we began and will always hold a special place in our hearts here at The Candyland Cart Company. Being privliged enough to share in one of the most significant days of your life is an honour that we take extremely seriously and we have never let a client down. It's a magical event and having us with you helps to add a little more sparkle.
                    </p>
                </div>
                <div class="col-md-4">
                    <h1 align="center">Just for FUN!!</h1>
                    <img src="static/candyland/images/cart009-min.jpg" class="img-responsive" alt="Responsive image">
                    <p align="justify">
                    <br>Who needs an excuse for a party? Not us! Whatever the occasion we can help you celebrate in style and ensure everyone gets a little piece of what they love. We cater for all types of parties, fund-raisers, group events, end of term blow-outs, the list is endless. If you have something to celebrate, we can provide the sweet treats.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
                <div class="col-md-4">
                        <img src="static/candyland/images/cones001-min.jpg" class="img-responsive" alt="Responsive image">
                        </div>
        <div class="container">
                <div class="col-md-4">
                        <h1 align="center">Sweet Packages</h1>
                        <p align="center">Don't have room for a cart but still want to offer your guests something sweet? Why not simply order a selection of party cones to compliment your event. They can either be set up as a small centrepiece or distributed however you see fit. All themes for all occasions can be catered for. Just email us for further information></p>
                        </div>
        <div class="container">
                <div class="col-md-4">
                        <img src="static/candyland/images/ChristmasCones001-min.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
        <hr>
                </div>
            </div>
        </div>
    {% endblock %}