{% extends "base.html" %}
{% load staticfiles %}
    {% block content %}
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <h1>Sweet List</h1>
                    <h4>We have an utterly PHENOMENAL list of sweets that we can tempt you with, from new trending favourites to the old classics, and with over 400 to choose from, HOW can you possibly decide? Just take a look at some of the many delicious goodies available!
                    </h4>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Allsorts-min.jpg" class="img-responsive" alt="Allsorts">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/BonBon-min.jpg" class="img-responsive" alt="BonBon">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/ChocLimes-min.jpg" class="img-responsive" alt="ChocLimes">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/coconutMushrooms-min.jpg" class="img-responsive" alt="CoconutMushrooms">
            </div>
        </div>
        <div class='row'>
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/ColaBottles-min.jpg" class="img-responsive" alt="ColaBottles">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/CoughCandy-min.jpg" class="img-responsive" alt="CoughCandy">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Fangs-min.jpg" class="img-responsive" alt="Fangs">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/FizzyCherries-min.jpg" class="img-responsive" alt="FizzyCherries">
            </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/FoamBananas-min.jpg" class="img-responsive" alt="FoamBananas">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/FriedEggs-min.jpg" class="img-responsive" alt="FriedEggs">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/FruitJellies-min.jpg" class="img-responsive" alt="FruitJellies">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Fudge-min.jpg" class="img-responsive" alt="Fudge">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Humbugs-min.jpg" class="img-responsive" alt="Humbugs">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Jazzies-min.jpg" class="img-responsive" alt="Jazzies">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/JellyBabies-min.jpg" class="img-responsive" alt="JellyBabies">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/JellyBeans-min.jpg" class="img-responsive" alt="JellyBeans">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/KolaCubes-min.jpg" class="img-responsive" alt="KolaCubes">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/LemonBonBons-min.jpg" class="img-responsive" alt="LemonBonBons">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Letters-min.jpg" class="img-responsive" alt="Letters">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Lips-min.jpg" class="img-responsive" alt="Lips">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/MallowPoles-min.jpg" class="img-responsive" alt="MallowPoles">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/MarsMallows-min.jpg" class="img-responsive" alt="MarsMallows">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/MilkBottles-min.jpg" class="img-responsive" alt="MilkBottles">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/MiniMallows-min.jpg" class="img-responsive" alt="MiniMallows">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Mushrooms-min.jpg" class="img-responsive" alt="Mushrooms">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Nougat-min.jpg" class="img-responsive" alt="Nougat">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/PeanutBrittle-min.jpg" class="img-responsive" alt="PeanutBrittle">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/PearDrops-min.jpg" class="img-responsive" alt="PearDrops">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/RhubarbCustard-min.jpg" class="img-responsive" alt="RhubarbCustard">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/RosyApples-min.jpg" class="img-responsive" alt="RosyApples">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Saucers-min.jpg" class="img-responsive" alt="Saucers">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/SherbetLemons-min.jpg" class="img-responsive" alt="SherbetLemons">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Shrimps-min.jpg" class="img-responsive" alt="Shrimps">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/Strawbs-min.jpg" class="img-responsive" alt="Strawbs">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/SugaredAlmonds-min.jpg" class="img-responsive" alt="SugaredAlmonds">
            </div>
            <div class='col-md-3'>
                <img src="/static/candyland/images/TeddyBears-min.jpg" class="img-responsive" alt="TeddyBears">
            </div>
        </div> 
        <div class='row'>
            <div class='col-md-4'>
                <img src="/static/candyland/images/TurkishDelight-min.jpg" class="img-responsive" alt="TurkishDelight">
            </div>
            <div class='col-md-4'>
                <img src="/static/candyland/images/WhiteMice-min.jpg" class="img-responsive" alt="WhiteMice">
            </div>
            <div class='col-md-4'>
                    <img src="/static/candyland/images/WineGums-min.jpg" class="img-responsive" alt="WineGums">
            </div>
        </div>
    {% endblock %}