body {
            padding-top: 70px;
        }
        #row {
            padding-top: 20px;
            padding-bottom: 15px;
        }
        #container {
            width: 550px;
            margin: auto;
        }
        fieldset {
            align-self: center;
        }
        legend {
            font-size: 30px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #999;
            padding: 4px 15px;
        }
        label.field {
            display: block;
            text-align: right;
            width: 100px;
            float: left;
            clear: both;
        }
        input {
            border-radius: 5px;
            padding: 6px 8px;
            float: left;
            margin-bottom: 10px;
        }
        #event {
            width: 100px;
            border-radius: 5px;
            padding: 6px 8px;
            float: left;
        }
        .field {
            padding: 6px 8px;
        }
        fieldset {
            width: 450px;
            border: 1px solid #999;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 100px;
            background-color: #eee;
        }
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
            padding-bottom: 10px;
        }
        h4 {
            text-align: center;
            padding-bottom: 15px;
        }
        p {
            text-align: justify;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
            border: 2px solid red;
        }
        button[disabled="disabled"]{
            opacity: 0.4;
            cursor: not-allowed !important;
        }
